<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    <div class="navbar-header">
		<a class="navbar-brand" href="http://127.0.0.1:31337/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
  		<li><a href="http://127.0.0.1:31337/">Home</a></li>
  		<li><a href="http://127.0.0.1:31337/addresses">Addresses</a></li>
      	<li class="active"><a href="http://127.0.0.1:31337/applications">Applications</a></li>
	  	<li><a href="http://127.0.0.1:31337/app_instances">Application_Instances</a></li>
	  	<li><a href="http://127.0.0.1:31337/controls">Controls</a></li>
		<li><a href="http://127.0.0.1:31337/control_instances">Control_Instances</a></li>
	  	<li><a href="http://127.0.0.1:31337/guides">Guides</a></li>
	  	<li><a href="http://127.0.0.1:31337/workstations">Workstations</a></li>
    </ul>
  	</div>
</nav>

<h1>Applications Information</h1>
<p>
	This page will display basic information about the Applications in our system.
	It also allows users to Add, Edit, and Delete Applications in our system.
</p>

<div>
	<h2>
		Add a new Application:
	</h2>
	<form action="/applications" method="POST">
		<label for="appName">appName: </label>
		<input type="text" name="appName" placeholder="Name of application">
		<label for="appType">appType: </label>
		<input type="text" name="appType" placeholder="Type of application">
		<input type="submit" value="Submit">
	</form>
</div>
<div>
	<h2>Display all Applications:</h2>
	<table style="border 1px solid black">
		<thead>
			<tr>
				<th style="border: 1px solid black">appID</th>
				<th style="border: 1px solid black">appName</th>
				<th style="border: 1px solid black">appType</th>
				<th style="border: 1px solid black">Edit</th>
				<th style="border: 1px solid black">Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each applications}}
			<tr>
				<td style="border: 1px solid black">{{this.appID}}</td>
				<td style="border: 1px solid black">{{this.appName}}</td>
				<td style="border: 1px solid black">{{this.appType}}</td>
				<td style="border: 1px solid black"><a href="/applications/{{this.appID}}">Update</a></td>
				<td style="border: 1px solid black" onclick="deleteApplication({{this.appID}})">
					<button>Delete</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>