<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://127.0.0.1:31337/">WebSiteName</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="http://127.0.0.1:31337/">Home</a></li>
			<li><a href="http://127.0.0.1:31337/addresses">Addresses</a></li>
			<li><a href="http://127.0.0.1:31337/applications">Applications</a></li>
			<li><a href="http://127.0.0.1:31337/app_instances">Application_Instances</a></li>
			<li><a href="http://127.0.0.1:31337/controls">Controls</a></li>
			<li class="active"><a href="http://127.0.0.1:31337/control_instances">Control_Instances</a></li>
			<li><a href="http://127.0.0.1:31337/guides">Guides</a></li>
			<li><a href="http://127.0.0.1:31337/workstations">Workstations</a></li>
		</ul>
	</div>
</nav>

<h1>Control_Instances Information</h1>
<p>
	This page will allow users display basic information about the Control_Instances in our system.
	It also allows users to Add, Edit, and Delete Control_Instances in our system.
</p>

<div>
	<h2>
		Add a new Control_Instance:
	</h2>
	<form action="/control_instances" method="post">
		<select name="controlID">
			{{#each controls}}
			<option value={{controlID}}>{{controlID}} - {{controlName}}</option>
			{{/each}}
		</select>
		<select name="guideID">
			{{#each guides}}
			<option value={{guideID}}>{{guideID}} - {{guideName}}</option>
			{{/each}}
		</select>
		<input type="submit" value="Submit">
	</form>
</div>
<div>
	<h2>Display all Control_Instances:</h2>
	<table style="border 1px solid black">
		<thead>
			<tr>
				<th style="border: 1px solid black">Control Instance ID</th>
				<th style="border: 1px solid black;display:none">controlID</th>
				<th style="border: 1px solid black">Security Control ID</th>
				<th style="border: 1px solid black">Control Name</th>
				<th style="border: 1px solid black;display:none">guideID</th>
				<th style="border: 1px solid black">Guide Name</th>
				<th style="border: 1px solid black">Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each controlInstance}}
			<tr>
				<td style="border: 1px solid black">{{this.controlInstanceID}}</td>
				<td style="border: 1px solid black;display: none">{{this.controlID}}</td>
				<td style="border: 1px solid black">{{this.securityControlID}}</td>
				<td style="border: 1px solid black">{{this.controlName}}</td>
				<td style="border: 1px solid black;display: none">{{this.guideID}}</td>
				<td style="border: 1px solid black">{{this.guideName}}</td>
				<td style="border: 1px solid black" onclick="deleteControlInstance({{this.controlInstanceID}})">
					<button>Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>