<!-- simple Bootstrap Navbar from https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header"></div>
		<ul class="nav navbar-nav">
			<li><a href="http://127.0.0.1:31337/">Home</a></li>
			<li><a href="http://127.0.0.1:31337/addresses">Addresses</a></li>
			<li><a href="http://127.0.0.1:31337/applications">Applications</a></li>
			<li><a href="http://127.0.0.1:31337/app_instances">Application_Instances</a></li>
			<li><a href="http://127.0.0.1:31337/controls">Controls</a></li>
			<li><a href="http://127.0.0.1:31337/control_instances">Control_Instances</a></li>
			<li class="active"><a href="http://127.0.0.1:31337/guides">Guides</a></li>
			<li><a href="http://127.0.0.1:31337/workstations">Workstations</a></li>
		</ul>
	</div>
</nav>

<h1>Guides Information</h1>
<p>
	This page will display basic information about the Guides in our system.
	It also allows users to Add, Edit, and Delete Guides in our system.
</p>

<div>
	<h2>
		Add a new Guide:
		<p>Note: you can only add/map a guide to an applications that does not have a guide associated to it.</p>
	</h2>
	<form action="/guides" method="post">
		<label for="guideName">Guide Name:</label>
		<input type="text" name="guideName" placeholder="guideName">

		<select name="appID">
			{{#each App}}
			<option value="{{appID}}">{{appName}}</option>
			{{/each}}
			<input type="submit" value="Add guide">
	</form>
</div>

<div>
	<h2>Display all Guides:</h2>
	<table style="border 1px solid black">
		<thead>
			<tr>
				<th style="border: 1px solid black">guideID</th>
				<th style="border: 1px solid black">guideName</th>
				<th style="border: 1px solid black">appID</th>
				<th style="border: 1px solid black">Edit</th>
				<th style="border: 1px solid black">Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each guide}}
			<tr>
				<td style="border: 1px solid black">{{this.guideID}}</td>
				<td style="border: 1px solid black">{{this.guideName}}</td>
				<td style="border: 1px solid black">{{this.appID}}</td>
				<td style="border: 1px solid black"><a href="/guides/{{this.guideID}}">Update</a></td>
				<td style="border: 1px solid black" onclick="deleteGuide({{this.guideID}})"><button>Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>