<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    <div class="navbar-header">
		<a class="navbar-brand" href="http://127.0.0.1:31337/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
  		<li><a href="http://127.0.0.1:31337/">Home</a></li>
  		<li><a href="http://127.0.0.1:31337/addresses">Addresses</a></li>
      	<li><a href="http://127.0.0.1:31337/applications">Applications</a></li>
	  	<li><a href="http://127.0.0.1:31337/app_instances">Application_Instances</a></li>
	  	<li><a href="http://127.0.0.1:31337/controls">Controls</a></li>
		<li><a href="http://127.0.0.1:31337/control_instances">Control_Instances</a></li>
	  	<li><a href="http://127.0.0.1:31337/guides">Guides</a></li>
	  	<li class="active"><a href="http://127.0.0.1:31337/workstations">Workstations</a></li>
    </ul>
  	</div>
</nav>

<h1>Workstation Information</h1>
<p>
	This page will allow users display basic information about the Workstations in our system.
	It also allows users to Add, Edit, and Delete Workstations in our system.
</p>

<div>
	<h2>
		Search for a Workstation
	</h2>
	<form action="/workstations/search" method="GET">
		<label for="searchString">Search</label>
		<input type="text" name="searchString" id="searchString" placeholder="string to search">
		<input type="submit" value="Submit" id="search-btn">
	</form>
</div id="searchResults">
{{#if workstation}}
<h2>Search Results</h2>
<table style="border 1px solid black">
	<thead>
		<tr>
			<th style="border: 1px solid black">workstationID</th>
			<th style="border: 1px solid black">Hostname</th>
			<th style="border: 1px solid black">Operating System</th>
			<th style="border: 1px solid black">Edit</th>
			<th style="border: 1px solid black">Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#each workstation}}
		<tr>
			<td style="border: 1px solid black">{{this.workstationID}}</td>
			<td style="border: 1px solid black">{{this.hostName}}</td>
			<td style="border: 1px solid black">{{this.os}}</td>
			<td style="border: 1px solid black"><a href="/workstations/{{this.workstationID}}">Update</a></td>
			<td style="border: 1px solid black" onclick="deleteWorkstation({{this.workstationID}})">
				<button>Delete</button>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/if}}
</div>
<h2>
	Add a new Workstation:
</h2>
<form action="/workstations" method="post">
	<label for="hostName">Hostname: </label>
	<input type="text" name="hostName" placeholder="hostName">
	<label for="os">Operating System: </label>
	<select name="os">
		{{#each operatingSystems}}
		<option value="{{appName}}">{{appName}}</option>
		{{/each}}
	</select>
	<input type="submit" value="Submit">
</form>
</div>
<div>
	<h2>Display all Workstations:</h2>
	<table style="border 1px solid black">
		<thead>
			<tr>
				<th style="border: 1px solid black">workstationID</th>
				<th style="border: 1px solid black">Hostname</th>
				<th style="border: 1px solid black">Operating System</th>
				<th style="border: 1px solid black">Edit</th>
				<th style="border: 1px solid black">Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each workstations}}
			<tr>
				<td style="border: 1px solid black">{{this.workstationID}}</td>
				<td style="border: 1px solid black">{{this.hostName}}</td>
				<td style="border: 1px solid black">{{this.os}}</td>
				<td style="border: 1px solid black"><a href="/workstations/{{this.workstationID}}">Update</a></td>
				<td style="border: 1px solid black" onclick="deleteWorkstation({{this.workstationID}})">
					<button>Delete</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
